@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 6px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background-color: white;
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background-color: #2f2f2f;
    border-radius: 10px;
}